<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>transaction</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>app/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    	<servlet-name>UserServlet</servlet-name>
    	<servlet-class>com.sfu.servlet.UserServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
    </servlet>
      <servlet>
    	<servlet-name>GoodsServlet</servlet-name>
    	<servlet-class>com.sfu.servlet.GoodsServlet</servlet-class>
    	<load-on-startup>2</load-on-startup>
    </servlet>
          <servlet>
    	<servlet-name>GoodsTypeServlet</servlet-name>
    	<servlet-class>com.sfu.servlet.GoodsTypeServlet</servlet-class>
    	<load-on-startup>3</load-on-startup>
    </servlet>
             <servlet>
    	<servlet-name>GoodsDegreeServlet</servlet-name>
    	<servlet-class>com.sfu.servlet.GoodsDegreeServlet</servlet-class>
    	<load-on-startup>4</load-on-startup>
    </servlet>
     <servlet>
        	<servlet-name>UserCampusServlet</servlet-name>
    	<servlet-class>com.sfu.servlet.UserCampusServlet</servlet-class>
    	<load-on-startup>5</load-on-startup>
    </servlet>
                 <servlet>
    	<servlet-name>AdminServlet</servlet-name>
    	<servlet-class>com.sfu.servlet.AdminServlet</servlet-class>
    	<load-on-startup>6</load-on-startup>
    </servlet>
       <servlet>
    	<servlet-name>IndexServlet</servlet-name>
    	<servlet-class>com.sfu.servlet.IndexServlet</servlet-class>
    </servlet>
        <servlet-mapping>
    	<servlet-name>UserServlet</servlet-name>
    	<url-pattern>/user</url-pattern>
    </servlet-mapping>
            <servlet-mapping>
    	<servlet-name>GoodsServlet</servlet-name>
    	<url-pattern>/goods</url-pattern>
    </servlet-mapping>
                <servlet-mapping>
    	<servlet-name>IndexServlet</servlet-name>
    	<url-pattern>/index</url-pattern>
    </servlet-mapping>
                    <servlet-mapping>
    	<servlet-name>GoodsTypeServlet</servlet-name>
    	<url-pattern>/type</url-pattern>
    </servlet-mapping>
                    <servlet-mapping>
    	<servlet-name>GoodsDegreeServlet</servlet-name>
    	<url-pattern>/degree</url-pattern>
    </servlet-mapping>
                        <servlet-mapping>
    	<servlet-name>UserCampusServlet</servlet-name>
    	<url-pattern>/campus</url-pattern>
    </servlet-mapping>
                            <servlet-mapping>
    	<servlet-name>AdminServlet</servlet-name>
    	<url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <filter>
 	<filter-name>encoding</filter-name>
 	<filter-class>com.sfu.filter.EncodingFilter</filter-class>
 </filter>
 <filter-mapping>
 	<filter-name>encoding</filter-name>
 	<url-pattern>/*</url-pattern>
 </filter-mapping>
 
  <filter>
 	<filter-name>Browser</filter-name>
 	<filter-class>com.sfu.filter.BrowserFilter</filter-class>
 </filter>
 <filter-mapping>
 	<filter-name>Browser</filter-name>
 	<url-pattern>/*</url-pattern>
 </filter-mapping>
 
</web-app>